.NotesForm{
    width: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
}
.textarea_notes{
    width: 500px;
    height: 70px;
    outline: none;
    border: none;
    background: #ccc;
    box-shadow: inset 0 0 3px #fff;
    color: #fff;
    font-size: 16px;
}
.button_notes{
    width: 80px;
    height: 40px;
    margin-left: 20px;
    border-radius: 3px;
    border: none;
    background:#27A3DE;
    color: #fff;
    font-size: 16px;
    outline: none;
    text-transform: uppercase;
    font-weight: 900;
    box-shadow: 1px 1px 0 #ccc;
}
.button_notes:hover{
    opacity: 0.9;
 }
.button_notes:active{
   box-shadow: inset 1px 1px 0 #ccc;
}